.site-layout-backgound {
  background-color: #fff !important;
  padding: 0;
}
.ant-layout {
  min-height: 100vh;
}
.ant-layout-header span.trigger svg {
  width: 25px !important;
  height: 25px !important;
  margin: 10px !important;
}
.Title {
  margin: "24px 16px";
  padding: 24px;
  min-height: 280px;
  background: #b0a6a6;
}
